---
import Layout from "../../../layouts/Layout.astro";
import PortfolioPage from "../../../components/PortfolioPage.astro";
import { t } from "../../../lib/i18n.js";

const locale = 'ru';
---

<Layout title={t(locale, 'titles.portfolio')}>
    <main>
        <PortfolioPage />
    </main>
</Layout>

<style>
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: var(--main-padding);
        max-width: var(--main-maxwidth);
        margin: 0 auto;
    }
</style> 