---
import AccentScript from "../components/AccentScript.astro";
import Showreel from "../components/Showreel.astro";
import TargetSegments from "../components/TargetSegments.astro";
import PortfolioTeaser from "../components/PortfolioTeaser.astro";
import Testimonials from "../components/Testimonials.astro";
import FAQ from "../components/FAQ.astro";
import Timeline from "../components/Timeline.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import TopSlogan from "../components/TopSlogan.astro";
import PromoBanner from "../components/PromoBanner.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import AnimationThing from "../components/AnimationThing.astro";
import ShowreelSection from "../components/ShowreelSection.astro";
import Hero from "../components/Hero.astro";
import WeGoodAt from "../components/WeGoodAt.astro";
import Header from "../components/Header.astro";
import ExceptionalValue from "../../sections/ExceptionalValue.astro";
import Everywhere from "../../sections/Everywhere.astro";
import TalkToUs1 from "../components/TalkToUs1.astro";
import TalkToUs3 from "../components/TalkToUs3.astro";
import TalkToUs2 from "../components/TalkToUs2.astro";
import PortfolioPreviewGrid from "../components/PortfolioPreviewGrid.astro";
import Team from "../components/Team.astro";
// import ContactSection from "../components/ContactSection.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="generator" content={Astro.generator} />
        <title>easy. production</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <main>
            <Header />
            <Showreel />

            <Hero />
            <TargetSegments />
            <TalkToUs1 />
            <PortfolioTeaser />

            <ExceptionalValue />
            <Everywhere />

            <PortfolioPreviewGrid
                startIndex={1}
                toShow={4}
                title="Portfolio preview #1"
            />
            <Team />

            <FAQ />
        </main>

        <Footer />
    </body>
    <style>
        :root {
            --font-size-xl: 88px; /* Main headlines */
            --font-size-lg: 42px; /* Section headlines */
            --font-size-md: 32px; /* Sub headlines */
            --font-size-base: 16px; /* Body text */
            --main-padding: clamp(1rem, 2.5vw, 2rem);
            --main-maxwidth: 1300px;
            --hero-head-size: clamp(2.05rem, 8vw, 3.3rem);
            --hero-tagline-size: clamp(1rem, 1.25vw, 1.11rem);
        }

        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: var(--main-padding);
            max-width: var(--main-maxwidth);
            margin: 0 auto;
        }
    </style>
</html>

<!-- SERVICES/FEATURE CARDS -->
